<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>
<body>
  <h1 class="text-3xl font-bold text-green-200 underline **text-clifford**">
    Hello world!
  </h1>

  <div class="grid lg:grid-cols-3 grid-cols-1 md:grid-cols-3">
    <div class="lg:text-red-700 text-green-800 text-xl ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolore sit deserunt deleniti culpa animi soluta vero magni voluptates inventore.</div>

    <div class="text-3xl lg:mt-[90%] mt-[30%]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolore sit deserunt deleniti culpa animi soluta vero magni voluptates inventore.</div>
    
    <div class="text-6xl  px-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolore sit deserunt deleniti culpa animi soluta vero magni voluptates inventore.</div>
  </div>



  <div class="border border-yellow-400 rounded-lg p-3 lg:w-[30%] w-[60%] h-[20%] mb-96 lg:ms-96 ms-0">
    <h1 class="font-bold">card</h1>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea noexercitationem, expedita molestiae. Ut, quis molestiae. Assumenda molestiae maxime necessitatibus recusandae repellat ad, magni nisi, animi laborum porro soluta aliquam.</p>
    <button>hey</button>
  </div>





  
</body>
</html>